html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.header-title {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Amita', 'arial';
    font-size: 32px;
    color: black;
}

.first-name,
.last-name {
    font-family: 'Amita', 'arial';
    font-size: 25px;
    color: black;
    margin-bottom: -5px;
    margin-left: 2px;
    margin-right: 2px;
}

.period {
    color: darkred;
}

.header-left,
.header-right {
    margin: 15px;
}

.header-left button,
.header-right button {
    border-radius: 10px;
    background-color: indigo;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #912222;
    padding: 0px;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.about {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(172, 17, 17);
}

.about-header {
    font-family: 'Beth Ellen', 'arial';
    margin: 15px;
    border-bottom: 1px solid white;
    color: white;
}

.about-text {
    width: 70vw;
    font-size: 16px;
    color: white;
    text-align: center;
    font-family: 'Amita';
    margin-bottom: 10px;
}

.footer {
    background-color: white;
    padding: 10px;
}

