html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #912222;
    padding: 0px;
}

.content-row-1,
.content-row-2,
.content-row-3,
.content-row-4,
.content-row-5 {
    display: flex;
    border: 2px solid blue;
    padding: 20px;
    height: 20%;
}

.footer {
    background-color: white;
    padding: 10px;
}

.header-left {
    display: flex;
    flex: auto;
    font-family: 'Amita', 'arial';
    font-size: 32px;
    color: black;
    margin-left: 2vh;
}

.header-right a {
    margin: 40px;
}

.period {
    color: darkred;
}

